[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/opt/php70/var/run/php-fpm.pid
ExecStart=/opt/php70/sbin/php-fpm --nodaemonize --fpm-config /opt/php70/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

